<server description="manufacture domain server">
	<featureManager>
		<feature>javaee-8.0</feature>
		<feature>openapi-3.1</feature>
	</featureManager>

	<logging
		traceSpecification="com.ibm.ws.microprofile.health.*=all" />

        <httpAccessLogging id="accessLogging"/>
<!--    <httpEndpoint host="localhost" httpPort="-1" -->
        <httpEndpoint accessLoggingRef="accessLogging" host="*" httpPort="${env.HTTP_PORT}" httpsPort="${env.HTTPS_PORT}" id="defaultHttpEndpoint" />


	<keyStore id="defaultKeyStore"
		type="PKCS12"
		password="Liberty" />

	<jdbcDriver id="H2Driver"
		javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" libraryRef="h2-lib" />
	<library id="h2-lib">
		<fileset dir="${shared.resource.dir}/h2"
			includes="h2-1.4.200.jar" />
	</library>

	<dataSource id="h2-db" jndiName="jdbc/manufacture_db"
		type="javax.sql.DataSource" jdbcDriverRef="H2Driver">
		<properties	url="jdbc:h2:mem:order_db;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;TRACE_LEVEL_FILE=4" />
	</dataSource>

	<jndiEntry jndiName="supplierdomain.purchase.url" value="${env.SUPPLIER_PURCHASE_URL}"/>
	<jndiEntry jndiName="supplierdomain.username" value="${env.SUPPLIER_USER}"/>
	<jndiEntry jndiName="supplierdomain.password" value="${env.SUPPLIER_PASSWORD"/>

	<basicRegistry id="basic" realm="defaultRealm">
		<user name="admin" password="adminpwd" />
		<user name="testuser" password="pwd" />

		<group name="MANUFACTUREDOMAIN.COMPONENT">
			<member name="testuser" />
		</group>
		<group name="MANUFACTUREDOMAIN.WORKORDER">
			<member name="testuser" />
		</group>
		<group name="MANUFACTUREDOMAIN.ADMIN">
			<member name="admin" />
		</group>
	</basicRegistry>

	<enterpriseApplication id="manufacturedomain"
		location="manufacturedomainEAR.ear" name="manufacturedomainEAR.ear">
		<application-bnd>
			<security-role name="MANUFACTUREDOMAIN.COMPONENT">
				<group name="MANUFACTUREDOMAIN.COMPONENT" />
			</security-role>
			<security-role name="MANUFACTUREDOMAIN.WORKORDER">
				<group name="MANUFACTUREDOMAIN.WORKORDER" />
			</security-role>
			<security-role name="MANUFACTUREDOMAIN.ADMIN">
				<group name="MANUFACTUREDOMAIN.ADMIN" />
			</security-role>
		</application-bnd>
	</enterpriseApplication>

</server>
